*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
   
}
.main{
    width: 100vw;
    background: linear-gradient(#1F0042, #11012C);
    position: relative;
}
.ellipse1{
    position: relative;
    border-radius: 50%;
    top: 10px;
    left: 190px;
    height: 143px;
    width: 140px;
    background: transparent linear-gradient(177deg, #7F1E7B 0%, #160134 100%) 0% 0%;
    opacity: 1;
}
.ellipse2{
    position: relative;
    border-radius: 50%;
    width: 104px;
    height: 107px;
    background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 1140px;
    top: -158px;
}
.ellipse3{
    position: relative;
    border-radius: 50%;
    width: 183px;
    height: 187px;
    background: transparent linear-gradient(177deg, #7F4129 0%, #1C0C28 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 250px;
    top: -19px;
}
.landingPageDiv{
    position: relative;
    height: 171px;
    width: 700px;
    left: 340px;
    top: -90px;
    padding: 0px !important;
}
.landingPageText{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold;
    font-size: 52px;
    letter-spacing: 1px;  
    padding: 0px !important;  
}
.landingPageSummary{
    text-align: center !important; 
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}
.countdownTimer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 530px !important;
    align-items: center;
    margin: 10px auto;
    left: -30px;
    top: -140px;
}
.column1, .column2{
    flex: 6;
    display: flex;
    flex-direction: row;
}
.column1{
    justify-content: flex-end;
    align-items: flex-start;
}
.column2{
    justify-content: flex-start;
    align-items: flex-start;
}
.countdownStyle{
    background: white;
    color: black;        
    width: 120px;
    height: 134px;
    border-radius: 9px;
    opacity: 1;
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdownMargin{
    margin-left:15px;
}
.last{
    border-radius: 9px 0 0 9px;
}
.countdownNumber{
    font-size: 47px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.countdownTag{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.loginForm .formInput{
    color: #56515D;
    background: inherit;
    padding-top: 10px;    
    margin-left: 30px;
    position: relative;
    top: -130px;
    left: 360px;
}
.formInput{
    display: inline;
    outline-style: none;
    outline: none !important;
    font-size: 14px;
    border-style: none;
    border-bottom: 5px solid #56515D;
    width: 249px;
    padding: 9px 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
#lName{
    padding-left: 30px;
}
.inputSubmit{
    position: relative;    
    top: -100px;
    left: 325px;
    width: 664px;
    height: 67px;
    border-radius: 51px 51px 51px 51px;
    background: white;
    
    padding: 20px 50px ;
    

}
.emailInput{
    
    display: block;
    color: black;
    outline: none;
    border-style: none;
    font-size: 19px;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
}
.buttonSub{
    
    width: 250px;
    height: 67px;
    border-radius: 51px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    outline: none;
    border-style: none;
    background: #271ac1;
    opacity: 100;
    position: absolute;
    padding: 10px 20px;
    color: white;
    top: -0px;
    left: 415px;    
}
footer{
    background: transparent;
    width: 100vw;
    height: 258px;
    
}
.halfSegment{
    position: absolute;
    bottom: 0px;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 80vw;
    border-top-right-radius: 50%;
    
    background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 100;
    backdrop-filter: blur(27px);
    -webkit-backdrop-filter: blur(27px);
}
@media only screen and (max-width: 1100px) and (min-width:1023px) {
    .main{
        width: 100vw;
        overflow-x: hidden;
    }
    .landingPageDiv{
        width: 40vw;
        left: 400px;
        
    }
    .landingPageText{
        font-size: 32px;        
    }
    .ellipse2{
        left: 850px;
        top: -185px;
    }
    .loginForm .formInput{
        left: 350px;
    }
    .inputSubmit{
        left: 300px;
    }
    .ellipse3{
        left: 300px;
    }
}
@media only screen and (max-width: 800px) and (min-width:700px) {
    .main{
        overflow-x: hidden;
    }
    .ellipse1{
        left: 90px;
    }
    .landingPageDiv{
        width: 50vw;
        left: 230px;        
    }
    .landingPageText{
        font-size: 32px;        
    }
    .landingPageSummary{
        font-size: 17px;
    }
    .ellipse2{
        left: 650px;
        top: -199px;
    }
    .countdownStyle{
                
        width: 100px;
        height: 114px;
    }
    .countdownTimer{
        left: 40px;
        top: -180px;
    }
    .loginForm .formInput{
        left: 180px;
        top: -160px;
        width: 200px;
    }
    .inputSubmit{
        left: 190px;
        top: -140px;
        width: 464px;
        height: 47px;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 25px;        
    }
    .buttonSub{
        height: 47px;
        top: -0px;
        left: 265px;
        width: 200px;
        font-size: 14px;
    }
    .emailInput{
        font-size: 14px;
    }
    .ellipse3{
        left: 120px;
        top: -57px;
    }
}
@media screen and (max-width:500px) and (min-width: 400px) {
    .main{
        overflow-x: hidden;
    }
    .ellipse1{
        left: 90px;
        height: 123px;
        width: 120px;
    }
    .landingPageDiv{
        width: 50vw;
        left: 200px;        
    }
    .landingPageText{
        font-size: 22px;
        text-align: right;        
    }
    .landingPageSummary > p{
        font-size: 15px;
        text-align: end;
    }
    .ellipse2{
        display: none;
        left: 650px;
        top: -199px;
    }
    .countdownStyle{
        width: 80px;
        height: 94px;
        margin-top: 4px;        
    }
    .countdownTimer{
        left: 40px;
        top: -70px;
    }
    .column1, .column2{
        display: flex;
        flex-direction: column;
    }
    /* .column1{
        justify-content: flex-end;
    } */
    .column2{
        margin-right: 0px;
    }
    .countdownM{
        margin-left:15px;
    }
    .loginForm .formInput{
        left: 180px;
        top: -80px;
        width: 200px;
    }
    .inputSubmit{
        left: 150px;
        top: -60px;
        width: 264px;
        height: 47px;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 25px;        
    }
    .buttonSub{
        height: 47px;
        top: 60px;
        left: 60px;
        width: 200px;
        font-size: 14px;
        z-index:9;
    }
    .emailInput{
        font-size: 14px;
    }
    .ellipse3{
        left: 50px;
        top: -37px;
    }
}
@media screen and (max-width:399px) and (min-width: 300px) {
    .main{
        overflow-x: hidden;
    }
    .ellipse1{
        left: 40px;
        height: 123px;
        width: 120px;
    }
    .landingPageDiv{
        width: 50vw;
        left: 180px;        
    }
    .landingPageText{
        font-size: 22px;
        text-align: right;        
    }
    .landingPageSummary > p{
        font-size: 15px;
        text-align: end;
    }
    .ellipse2{
        display: none;
        left: 650px;
        top: -199px;
    }
    .countdownStyle{
        width: 80px;
        height: 94px;
        margin-top: 4px;        
    }
    .countdownTimer{
        left: 15px;
        top: -50px;
    }
    .column1, .column2{
        display: flex;
        flex-direction: column;
    }
    .column2{
        margin-right: 0px;
    }
    .countdownM{
        margin-left:15px;
    }
    .loginForm .formInput{
        left: 145px;
        top: -55px;
        width: 200px;
    }
    .inputSubmit{
        left: 110px;
        border-end-end-radius: 0;
        border-start-end-radius: 0;
        top: -40px;
        width: 264px;
        height: 47px;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 25px;        
    }
    .countdownMin{
        border-end-end-radius: 0;
        border-start-end-radius: 0;   
    }
    .buttonSub{
        height: 47px;
        top: 60px;
        left: 63px;
        width: 200px;
        font-size: 14px;
        z-index:9;
        border-end-end-radius: 0;
        border-start-end-radius: 0;
    }
    .emailInput{
        font-size: 14px;
    }
    .ellipse3{
        left: 50px;
        top: -37px;
    }
}