*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
.main{
    background: linear-gradient(#1F0042, #11012C);
    position: relative;
}
.ellipse1{
    position: relative;
    border-radius: 50%;
    top: 10px;
    left: 190px;
    height: 143px;
    width: 140px;
    background: transparent linear-gradient(177deg, #7F1E7B 0%, #160134 100%) 0% 0%;
    opacity: 1;
}
.ellipse2{
    position: relative;
    border-radius: 50%;
    width: 104px;
    height: 107px;
    background: transparent linear-gradient(177deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 1140px;
    top: -158px;
}
.landingPageDiv{
    position: relative;
    height: 171px;
    width: 700px;
    left: 440px;
    top: -90px;
    padding: 0px !important;
}
.landingPageText{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold;
    font-size: 52px;
    letter-spacing: 1px;  
    padding: 0px !important;  
}
.landingPageSummary{
    text-align: center !important; 
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}
.countdownTimer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    left: 130px;
    top: -140px;
}
.countdownStyle{
    background: white;
    color: black;        
    width: 120px;
    height: 134px;
    border-radius: 9px;
    opacity: 1;
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdownMargin{
    margin-left:15px;
}
.last{
    border-radius: 9px 0 0 9px;
}
.countdownNumber{
    font-size: 47px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.countdownTag{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.loginForm{
    
    height: 33px;
}
.loginForm input{
    color: #56515D;
    background: inherit;
    padding-top: 10px;    
    display: inline;
    margin-left: 30px;
    position: relative;
    top: -130px;
    left: 500px;
}
input{
    outline-style: none;
    outline: none !important;
    font-size: 14px;
    border-style: none;
    border-bottom: 5px solid #56515D;
    width: 249px;
}
#lName{
    padding-left: 30px;
}
#email{
    display: block;
}