*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    position: absolute;
}
ol{
    list-style-type: decimal !important;
}
ol > li{
    padding: 10px 0 5px 20px !important;
}
.main{
    position: relative;
    z-index: 3;
}
.cookiesText{
    font-size: 2.2rem;
    opacity: 0.9;
}
.legalP{
    font-size: 1.6rem;
}
.policyFooter{
    margin-top: 0 !important;
}